<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<servlet><servlet-name>ModelOpen</servlet-name><servlet-class>edu.monash.inchman.ModelOpenServlet</servlet-class>
	</servlet><servlet-mapping><servlet-name>ModelOpen</servlet-name><url-pattern>/api/modelOpen</url-pattern></servlet-mapping>

	<servlet><servlet-name>ModelSavePrepare</servlet-name><servlet-class>edu.monash.inchman.ModelSavePrepareServlet</servlet-class></servlet>
	<servlet-mapping><servlet-name>ModelSavePrepare</servlet-name><url-pattern>/api/modelSavePrepare</url-pattern></servlet-mapping>
	
	<servlet><servlet-name>ModelSaveDownload</servlet-name><servlet-class>edu.monash.inchman.ModelSaveDownloadServlet</servlet-class></servlet>
	<servlet-mapping><servlet-name>ModelSaveDownload</servlet-name><url-pattern>/api/modelSaveDownload</url-pattern></servlet-mapping>
	
	<servlet><servlet-name>ConvertMathTextToContentAndPresentationML</servlet-name><servlet-class>edu.monash.inchman.ConvertMathTextToContentAndPresentationMLServlet</servlet-class></servlet>
	<servlet-mapping><servlet-name>ConvertMathTextToContentAndPresentationML</servlet-name><url-pattern>/api/convertMathTextToContentAndPresentationML</url-pattern></servlet-mapping>

	<servlet><servlet-name>ConvertContentMLToMathTextAndPresentationML</servlet-name><servlet-class>edu.monash.inchman.ConvertContentMLToMathTextAndPresentationMLServlet</servlet-class></servlet>
	<servlet-mapping><servlet-name>ConvertContentMLToMathTextAndPresentationML</servlet-name><url-pattern>/api/convertContentMLToMathTextAndPresentationML</url-pattern></servlet-mapping>

	<servlet>
		<servlet-name>SystemServiceServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value/>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>